.client-list {
  // display: flex;
  padding-bottom: 94px;
}

.client-item {
  // width: 170px;
  height: 90px;

  &:not(:last-child) {
  margin-right: 30px;
  }
}

.client-link {
  // display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  height: 100%;
  fill: $main-icon-color;
  transition-property: border-color;

  &:hover,
  &:focus {
  fill: $accent-color;
  border-color: $accent-color;
  }
}