.features {
  padding-top: 60px;
  padding-bottom: 30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  }
}

.container-icon {
  display: inline-block;
  margin-bottom: 30px;
  padding: 25px 190px;
  height: 120px;
  background-color: $c-light-grey-color;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    padding: 25px 142px;
  }

  @media screen and (min-width: 1200px) {
    padding: 25px 100px;
  }

}

.icon-feature {
  width: 70px;
  height: 70px;
  margin: 0;
}

.feature-item {
  @media screen and (min-width: 768px) {
    width: 354px;

    &:nth-child(2n + 1) {
    margin-right: 30px;
   }
  }
  
  @media screen and (min-width: 1200px) {
    width: 270px;

   &:not(:last-child) {
   margin-right: 30px;
  }
 }
}

.title-feature {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
   text-align: center;
  }
}

.feature-description {
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $title-text-color;
}