@media screen and (max-width: 767px) {
  .page-header {
   position: relative;
   z-index: 1;
 }
}

.main-nav {
  display: flex;
  align-items: center;
  height: 80px;

  @media screen and (max-width: 767px) {
    height: 60px;
    justify-content: space-between;
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover {
    color: $accent-color;
  }

  .icon-menu, .icon-close-button {
    fill: currentColor;
  }

  @media screen and (min-width: 768px) {
    display: none;
  } 

  & .icon-menu {
    display: none;
  }

  &.is-open .icon-menu {
    display: block;
  }

  &.is-open .icon-close-button {
    display: none;
  }
}

.header-menu {
  @media screen and (max-width: 767px) {
    background-color: $primary-white-color;
    text-align: center;

    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 393px;
    padding: 60px 140px;

    border-top: 1px solid #ECECEC;

    &.is-open {
    display: block;
    }  
  }   
    
  &.is-open {
    display: block;
  } 

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }  
}

.link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  }
}

.current {
   position: relative;
   color: $accent-color;

   &::after {
   content: "";
   position: absolute;
   top: 29px;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 4px;
   background-color: $accent-color;
   border-radius: 2px;
  }
}

@media screen and (min-width: 768px) { 
  .current::after {
   content: "";
   position: absolute;
   top: 77px;
   width: 100%;
   height: 4px;
   background-color: $accent-color;
   border-radius: 2px;
  }
 }

 @media screen and (min-width: 1200px) { 
  .current::after {
   content: "";
   position: absolute;
   top: 75px;
   width: 100%;
   height: 4px;
   background-color: $accent-color;
   border-radius: 2px;
  }
 }

.list-nav {
 @media screen and (max-width: 767px) {
   & .item:nth-child(2) {
   margin-bottom: 40px;
   }

   & .item:nth-child(3) {
   margin-bottom: 60px;
   }

    & .item:nth-child(1) {
    margin-bottom: 52px;
    }
  } 

 @media screen and (min-width: 768px) {
  display: flex;
  margin-left: 88px;
 }

  @media screen and (min-width: 1200px) {
  display: flex;
  margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
.item {
  .list-nav &:not(:last-child) {
  margin-right: 50px;
  }
 }
}

.contact-nav {
  display: flex;

  @media screen and (max-width: 767px) {
    & .item:not(:last-child) {
    margin-bottom: 16px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @media screen and (max-width: 1199px) {
    flex-direction: column;

    & .item:not(:last-child) {
    margin-bottom: 10px;
    }
  }

 @media screen and (min-width: 1200px) {
   align-items: center;

   & .item:first-child {
    margin-right: 30px;
   } 
  }
}

.contact-link {
 display: flex;
 align-items: center;
 color: $title-text-color;

 @media screen and (min-width: 768px) and (max-width: 1199px) {
 font-weight: 500;
 font-size: 12px;
 line-height: 1.17;
 letter-spacing: 0.02em;
 }
 
 @media screen and (min-width: 1200px) { 
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.envelope-icon {
  margin-right: 10px;
  fill: currentColor;
  width: 18px;
  height: 14px;
}

.smartphone-icon {
  margin-right: 10px;
  fill: currentColor;
  width: 11px;
  height: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .envelope-icon, .smartphone-icon {
  margin-right: 8px;
  }
}

.contact-name {
  margin: 0;
}