$primary-white-color: #ffffff;
$c-dark-color: #2f303a;
$c-light-grey-color: #f5f4fa;
$link-accent-color: #2196f3;
$social-icon-color: rgba(255, 255, 255, 0.1);
$overlay-accent-color: rgba(33, 150, 243, 0.9);
$backdrop-grey-color: rgba(47, 48, 58, 0.5);
$form-icon-color: #212121;

$primary-text-color: #212121;
$title-text-color: #757575;
$accent-color: #2196f3;
$text-white-color: #ffffff;
$text-black-color: #000000;
$text-dark-color: rgba(255, 255, 255, 0.6);
$main-icon-color: #afb1b8;
$overlay-white-color: #ffffff;
$section-work-color: rgba(47, 48, 58, 0.8);